<form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
    <!-- we will place our fields here -->

    <!--name-->
    <div>
        <label>Name</label>
        <input type="text" name="name" [(ngModel)]="user.name" #name="ngModel" required minlength="5">
        <small [hidden]="name.valid || (name.pristine && !f.submitted)">
            Name is required (minimum 5 characters).
        </small>
    </div>

    <!--adrress group-->
    <div ngModelGroup="address">
        <!--street-->
        <div>
            <label>Street</label>
            <input type="text" name="street" [(ngModel)]="user.address.street" #street="ngModel" required>
            <small [hidden]="street.valid || (street.pristine && !f.submitted)" class="text-danger">
                Street is required.
            </small>
        </div>

        <!--postcode-->
        <div>
            <label>Post code</label>
            <input type="text" name="postcode" [(ngModel)]="user.address.postcode">
        </div>
    </div>

    <button type="submit">Submit</button>
</form>

<div class="margin-20" *ngIf="submitted">
    <div>Form details:-</div>
    <pre>Is form valid?: <br>{{f.valid | json}}</pre>
    <pre>Is form submitted?: <br>{{submitted | json}}</pre>
    <pre>form value: <br>{{f.value | json}}</pre>
  </div>
