<nav class="navbar navbar-default navbar-fixed-top">
<p class="navbar-text navbar-right">You are Logged in <a class="navbar-link" (click)="logout()" href="#">logout</a>
    </p>

</nav>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav nav-pills">
      <li class="nav-item">
      <a [routerLink]="['/courses']" class="nav-link">Courses</a>
      </li>
      <li class="nav-item">
           <a [routerLink]="['/trainers']" class="nav-link">Trainers</a></li>

      <li class="nav-item">
    <a [routerLink]="['/calendar']" class="nav-link">Calender</a>
    </li>
      <li class="nav-item">
    <a [routerLink]="['/feedback']" class="nav-link">FeedBack</a>
      </li>

      <li class="nav-item">
    <a [routerLink]="['/studreg']" class="nav-link">Student Registration</a>
      </li>
  
    </ul>
</nav>

<router-outlet></router-outlet>
